## Generate HDF5 Mock Data

In [2]:
import pandas as pd

In [2]:
df1 = pd.util.testing.makeDataFrame()

C:\Users\kenne\Google Drive\Data Vault\GitHub\Educative-Advanced-Pandas\adv_pandas_venv\lib\site-packages\pandas\util\__init__.py:16: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

In [3]:
df1.head()

                   A         B         C         D
gMQHq2fnCb  1.186074 -1.357741  0.201251  1.479924
Y26xNpPaqV -1.981245 -0.527744 -0.506953  1.570476
lPKTEASOAL  2.733528 -0.152921 -2.199485  0.467001
jN1vjvYzhI -0.016582  0.101883  0.729991  0.597424
2MsUMCpUJO  1.219564 -2.692658 -1.940980  1.046695

In [4]:
df2 = pd.util.testing.makeDataFrame()

In [5]:
df2.head()

                   A         B         C         D
PgnwthUEJi  1.232732 -0.187266 -0.756517  1.664979
7ue55ovN1m -0.935272  0.217103  0.377266 -0.771104
DZhupfBOKW  0.661486 -0.738875  2.652743  0.427305
KqhCSv1gSe -0.803123 -1.887771  0.845601 -1.126714
8AAkXCBFhq -1.337643 -1.084606  0.448301  0.277181

In [4]:
h5_file_name = 'dummy_hdf5_store.h5'

In [8]:
store['part_1'] = df1

In [9]:
store['part_2'] = df2

In [10]:
store['part_1'].head()

                   A         B         C         D
gMQHq2fnCb  1.186074 -1.357741  0.201251  1.479924
Y26xNpPaqV -1.981245 -0.527744 -0.506953  1.570476
lPKTEASOAL  2.733528 -0.152921 -2.199485  0.467001
jN1vjvYzhI -0.016582  0.101883  0.729991  0.597424
2MsUMCpUJO  1.219564 -2.692658 -1.940980  1.046695

In [11]:
store.close()

___
## View H5 file structure

In [12]:
import nexusformat.nexus as nx

In [13]:
f = nx.nxload(h5_file_name)

In [14]:
print(f.tree)

root:NXroot
  @CLASS = 'GROUP'
  @PYTABLES_FORMAT_VERSION = '2.1'
  @TITLE = 'Empty(dtype=dtype('S1'))'
  @VERSION = '1.0'
  part_1:NXgroup
    @CLASS = 'GROUP'
    @TITLE = 'Empty(dtype=dtype('S1'))'
    @VERSION = '1.0'
    @axis0_variety = 'regular'
    @axis1_variety = 'regular'
    @block0_items_variety = 'regular'
    @encoding = 'UTF-8'
    @errors = 'strict'
    @nblocks = 1
    @ndim = 2
    @pandas_type = 'frame'
    @pandas_version = '0.15.2'
    axis0 = ['A', 'B', 'C', 'D']
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'string'
      @name = 'N.'
      @transposed = 1
    axis1 = ['gMQHq2fnCb', 'Y26xNpPaqV', 'lPKTEASOAL', 'jN1vjvYzhI',...
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'string'
      @name = 'N.'
      @transposed = 1
    block0_items = ['A', 'B', 'C', 'D']
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'string'
      @name = 'N.'
      @transposed = 1
    block0_values = float64(30x4)
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @transposed = 1
  part_2:NXgroup
    @CLASS = 'GROUP'
    @TITLE = 'Empty(dtype=dtype('S1'))'
    @VERSION = '1.0'
    @axis0_variety = 'regular'
    @axis1_variety = 'regular'
    @block0_items_variety = 'regular'
    @encoding = 'UTF-8'
    @errors = 'strict'
    @nblocks = 1
    @ndim = 2
    @pandas_type = 'frame'
    @pandas_version = '0.15.2'
    axis0 = ['A', 'B', 'C', 'D']
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'string'
      @name = 'N.'
      @transposed = 1
    axis1 = ['PgnwthUEJi', '7ue55ovN1m', 'DZhupfBOKW', 'KqhCSv1gSe',...
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'string'
      @name = 'N.'
      @transposed = 1
    block0_items = ['A', 'B', 'C', 'D']
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'string'
      @name = 'N.'
      @transposed = 1
    block0_values = float64(30x4)
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @transposed = 1