**Ask Kainat for support on the following:**
- Setup new Docker job specifically for ipynb of this lesson

# Advanced pandas - Going Beyond the Basics

## DataFrame Table Visualization
___
In this notebook, we will go through ___

https://pandas.pydata.org/docs/user_guide/style.html   
https://nbviewer.org/github/pandas-dev/pandas/blob/main/doc/source/user_guide/style.ipynb  
https://pbpython.com/styling-pandas.html  
https://pandas.pydata.org/docs/reference/api/pandas.io.formats.style.Styler.html

___
## (1) Import dependencies

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Check pandas version
pd.__version__

'2.0.2'

## (2) Import dataset
- Source: https://www.kaggle.com/datasets/datascientistanna/customers-dataset (Database Contents License (DbCL) v1.0)

In [4]:
# Import and read CSV file
df = pd.read_csv('https://raw.githubusercontent.com/kennethleungty/Educative-Advanced-Pandas/main/data/csv/Customers_Mini.csv')

In [6]:
# View DataFrame
df

,CustomerID,Gender,Age,AnnualIncome,SpendingScore,Profession,WorkExperience,FamilySize
0,1,Male,19,15000,39,Scientist,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Artist,2,6
5,6,Female,22,58000,76,Engineer,0,2
6,7,Female,35,31000,6,Scientist,1,3

___
## (3) View Styler object

d

https://pandas.pydata.org/docs/user_guide/style.html#Formatting-Values  
https://pandas.pydata.org/docs/user_guide/style.html#Styler-Object-and-Customising-the-Display

In [ ]:
df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})

df.style \
  .format(precision=3, thousands=".", decimal=",") \
  .format_index(str.upper, axis=1) \
  .relabel_index(["row 1", "row 2"], axis=0)

___
## (4) Data formatting

Before jumping to fancy colors, focus on the data in the dataframe first

https://pandas.pydata.org/docs/user_guide/style.html#Formatting-Values

format()
format_index()
relabel_index()
hide()
concat()

___
## (5) Built-in styles

From here, talk about color

### Null

.highlight_null: for use with identifying missing data.

### Minimum and maximum

.highlight_min and .highlight_max: for use with identifying extremities in data.

### Quantiles and between

.highlight_between and .highlight_quantile: for use with identifying classes within data.

### Gradients

.background_gradient: a flexible method for highlighting cells based on their, or other, values on a numeric scale.

___
## (6) Basic style customization

https://pandas.pydata.org/docs/user_guide/style.html#Acting-on-Data

### Data

applymap()
apply()

### Index and column headers

applymap_index()
apply_index()

___
## (7) Advanced style customization

test

https://pandas.pydata.org/docs/user_guide/style.html#Table-Styles
https://pandas.pydata.org/docs/user_guide/style.html#Methods-to-Add-Styles

___
## (8) Export styled tables

>Many other styles that are out of scope of this lesson, like tooltips and captions (https://pandas.pydata.org/docs/user_guide/style.html#Tooltips-and-Captions) and optimization https://pandas.pydata.org/docs/user_guide/style.html#Optimization