In [14]:
import csv
import pandas as pd

reader = csv.DictReader(open('../data/csv/agents.csv'))

for row in reader:
    print(row)

{'agent_id': '1', 'first_name': 'Lindsey', 'last_name': 'Ondrus', 'gender': 'Male', 'date_joined': '23/5/2019'}
{'agent_id': '2', 'first_name': 'Thornton', 'last_name': 'Lade', 'gender': 'Male', 'date_joined': '13/1/2019'}
{'agent_id': '3', 'first_name': 'Tasia', 'last_name': 'Skeermer', 'gender': 'Female', 'date_joined': '2/2/2019'}
{'agent_id': '4', 'first_name': 'Bondon', 'last_name': 'Ismay', 'gender': 'Male', 'date_joined': '10/10/2019'}
{'agent_id': '5', 'first_name': 'Dulcinea', 'last_name': 'Echallie', 'gender': 'Female', 'date_joined': '5/8/2019'}
{'agent_id': '6', 'first_name': 'Brena', 'last_name': 'Giacopazzi', 'gender': 'Female', 'date_joined': '3/12/2018'}
{'agent_id': '7', 'first_name': 'Lucien', 'last_name': 'Franzolini', 'gender': 'Male', 'date_joined': '24/1/2019'}
{'agent_id': '8', 'first_name': 'Quintana', 'last_name': 'Jery', 'gender': 'Female', 'date_joined': '11/7/2019'}

In [16]:
test_df = pd.DataFrame([
    {'agent_id': '1', 'first_name': 'Lindsey', 'last_name': 'Ondrus', 'gender': 'Male', 'date_joined': '23/5/2019'},
    {'agent_id': '2', 'first_name': 'Thornton', 'last_name': 'Lade', 'gender': 'Male', 'date_joined': '13/1/2019'},
    {'agent_id': '3', 'first_name': 'Tasia', 'last_name': 'Skeermer', 'gender': 'Female', 'date_joined': '2/2/2019'},
    {'agent_id': '4', 'first_name': 'Bondon', 'last_name': 'Ismay', 'gender': 'Male', 'date_joined': '10/10/2019'},
    {'agent_id': '5', 'first_name': 'Dulcinea', 'last_name': 'Echallie', 'gender': 'Female', 'date_joined': '5/8/2019'},
    {'agent_id': '6', 'first_name': 'Brena', 'last_name': 'Giacopazzi', 'gender': 'Female', 'date_joined': '3/12/2018'},
    {'agent_id': '7', 'first_name': 'Lucien', 'last_name': 'Franzolini', 'gender': 'Male', 'date_joined': '24/1/2019'},
    {'agent_id': '8', 'first_name': 'Quintana', 'last_name': 'Jery', 'gender': 'Female', 'date_joined': '11/7/2019'}
])

In [17]:
test_df

  agent_id first_name   last_name  gender date_joined
0        1    Lindsey      Ondrus    Male   23/5/2019
1        2   Thornton        Lade    Male   13/1/2019
2        3      Tasia    Skeermer  Female    2/2/2019
3        4     Bondon       Ismay    Male  10/10/2019
4        5   Dulcinea    Echallie  Female    5/8/2019
5        6      Brena  Giacopazzi  Female   3/12/2018
6        7     Lucien  Franzolini    Male   24/1/2019
7        8   Quintana        Jery  Female   11/7/2019